<html>Data Assignment 8
Programming Assignment due Apr 5, 2021 05:03 CEST

Introduction
In this assignment you will learn to use functions to access, query, and gain simple insights from datasets.

Dataset
The Titanic was a British passenger liner that collided with an iceberg and sank in its maiden voyage. Tragicallly, of the 2,200 passengers onboard, only 800 survived. We will use the Titanic:Machine Learning from disaster dataset to estimate survival probabilies associated with various passengers. We will use only the train.csv file.

Some useful functions
The following functions outlined in pandas library may prove helpful.

pandas.read_csv() → Reads the .csv file
pandas.value_counts() → Returns count of unique values
Questions
Using the dataset, estimate the following.
    </html>

In [80]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [81]:
data = pd.read_csv('C:/Users/almbi/Probability and Statistics/Topic 8/train.csv')    
data.shape

(891, 12)

In [82]:
data.value_counts() #  Returns count of unique values

PassengerId  Survived  Pclass  Name                                                  Sex     Age   SibSp  Parch  Ticket    Fare      Cabin  Embarked
890          1         1       Behr, Mr. Karl Howell                                 male    26.0  0      0      111369    30.0000   C148   C           1
337          0         1       Pears, Mr. Thomas Clinton                             male    29.0  1      0      113776    66.6000   C2     S           1
332          0         1       Partner, Mr. Austen                                   male    45.5  0      0      113043    28.5000   C124   S           1
330          1         1       Hippach, Miss. Jean Gertrude                          female  16.0  0      1      111361    57.9792   B18    C           1
328          1         2       Ball, Mrs. (Ada E Hall)                               female  36.0  0      0      28551     13.0000   D      S           1
                                                                                                                                                       ..
584          0         1       Ross, Mr. John Hugo                                   male    36.0  0      0      13049     40.1250   A10    C           1
582          1         1       Thayer, Mrs. John Borland (Marian Longstreth Morris)  female  39.0  1      1      17421     110.8833  C68    C           1
578          1         1       Silvey, Mrs. William Baird (Alice Munger)             female  39.0  1      0      13507     55.9000   E44    S           1
573          1         1       Flynn, Mr. John Irwin ("Irving")                      male    36.0  0      0      PC 17474  26.3875   E25    S           1
2            1         1       Cumings, Mrs. John Bradley (Florence Briggs Thayer)   female  38.0  1      0      PC 17599  71.2833   C85    C           1
Length: 183, dtype: int64

In [83]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [84]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [54]:
152/418

0.36363636363636365

In [85]:
#Survival probability for a passenger.
attributes = ['Survived','PassengerId']
data_por = pd.read_csv("C:/Users/almbi/Probability and Statistics/Topic 8/train.csv",usecols=attributes)
data_temp = data_por["Survived"].value_counts()
Survival_probability = (data_temp/data_temp.sum())
print('Survival_probability:', Survival_probability)

#data_temp = data_por["school"].value_counts()
#print(data_temp)
#P_S = pd.DataFrame(data_temp/data_temp.sum())
#print(data_temp.sum())
#P_S.columns=["Probability"]
#P_S.columns.name = "School"
#P_S.plot.bar()

Survival_probability: 0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [60]:
##or it can be done as follows
data = pd.read_csv('C:/Users/almbi/Probability and Statistics/Topic 8/train.csv')
print(data['Survived'].value_counts(normalize=True))

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [56]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [86]:
#Survival probability for a female passenger.
attributeF = ['Survived','Sex']
data_por = pd.read_csv("C:/Users/almbi/Probability and Statistics/Topic 8/train.csv",usecols=attributeF)
data_temp = data_por.loc[data_por["Sex"]=="female"].value_counts()
Survival_probability = (data_temp/data_temp.sum())
print('Survival_probability for Woman:', Survival_probability)

Survival_probability for Woman: Survived  Sex
1         female    0.742038
0         female    0.257962
dtype: float64

In [175]:
##or it can be done as follows
data = pd.read_csv('C:/Users/almbi/Probability and Statistics/Topic 8/train.csv')
print(data[data['Sex'] == 'female'].groupby(['Sex'])['Survived'].value_counts() / data[data['Sex'] == 'female']['Survived'].count())

Sex     Survived
female  1           0.742038
        0           0.257962
Name: Survived, dtype: float64

In [176]:
##or it can be done as follows
data = pd.read_csv('C:/Users/almbi/Probability and Statistics/Topic 8/train.csv')
print(data[data['Sex'] == 'male'].groupby(['Sex'])['Survived'].value_counts() / data[data['Sex'] == 'male']['Survived'].count())

Sex   Survived
male  0           0.811092
      1           0.188908
Name: Survived, dtype: float64

#Probability that a person is a female and survives.

𝑃(Female | Survives)= Female AND Survives / Total number of Survivals

In [144]:
data_temp.head()
dataFemale = data_por.loc[data_por["Sex"]=="female"]
dataFemaleSurvived = dataFemale.loc[dataFemale["Survived"]==1].count()
#print(dataFemaleSurvived)
TotalNrSurvivals = data.loc[data["Survived"]==1].count()
#print(TotalNrSurvivals)
P_Female_Survives= dataFemaleSurvived / TotalNrSurvivals
print(P_Female_Survives)

Age                 NaN
Cabin               NaN
Embarked            NaN
Fare                NaN
Name                NaN
Parch               NaN
PassengerId         NaN
Pclass              NaN
Sex            0.681287
SibSp               NaN
Survived       0.681287
Ticket              NaN
dtype: float64

In [145]:
women = data[(data['Sex'] == 'female') & (data['Age'] > 16)]
surviving_women = data[(data['Sex'] == 'female') & (data['Age'] > 16) & (data['Survived'] == 1)]
women_chance_of_survival = surviving_women.shape[0] / women.shape[0]
format(women_chance_of_survival, ".0%")

'77%'

In [153]:
women = data[(data['Sex'] == 'female')]
#print(women.shape[0])
surviving_women = data[(data['Sex'] == 'female') & (data['Survived'] == 1)]
print(surviving_women.shape[0])

survival = data[(data['Survived'] == 1)]
#women_chance_of_survival = surviving_women.shape[0] / women.shape[0]
#format(women_chance_of_survival, ".0%")
womanChanceSur = surviving_women.shape[0] / survival.shape[0]
format(womanChanceSur, ".0%")

233

'68%'

In [172]:
women = data[(data['Sex'] == 'female')]
print(women.shape[0])
all = data
print(all.shape[0])

P_women = women.shape[0 ]/ all.shape[0]
print(P_women)

#P_women = women.shape[0] / all.shape[0]

314
891
0.35241301907968575

In [173]:
men = data[(data['Sex'] == 'male')]
print(men.shape[0])
all = data
print(all.shape[0])

P_men = men.shape[0 ]/ all.shape[0]
print(P_men)

#P_women = women.shape[0] / all.shape[0]

577
891
0.6475869809203143

In [177]:
#Probability that a person is a female and survives.
data = pd.read_csv('C:/Users/almbi/Probability and Statistics/Topic 8/train.csv')
  
print(data.groupby(['Sex'])['Survived'].value_counts() / data['Survived'].count())

Sex     Survived
female  1           0.261504
        0           0.090909
male    0           0.525253
        1           0.122334
Name: Survived, dtype: float64